Service References/ServiceReference1/DataBaseAccessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="NamesService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="NamesService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="NamesService/Imports">
      <xsd:import schemaLocation="http://recorder.apphb.com/DataBaseAccessService.svc?xsd=xsd0" namespace="NamesService" />
      <xsd:import schemaLocation="http://recorder.apphb.com/DataBaseAccessService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://recorder.apphb.com/DataBaseAccessService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RecordsCollectorApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DataBaseAccessService_LoadNameData_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadNameData" />
  </wsdl:message>
  <wsdl:message name="DataBaseAccessService_LoadNameData_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadNameDataResponse" />
  </wsdl:message>
  <wsdl:message name="DataBaseAccessService_UpdateNames_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNames" />
  </wsdl:message>
  <wsdl:message name="DataBaseAccessService_UpdateNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNamesResponse" />
  </wsdl:message>
  <wsdl:message name="DataBaseAccessService_LoadNumberData_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadNumberData" />
  </wsdl:message>
  <wsdl:message name="DataBaseAccessService_LoadNumberData_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadNumberDataResponse" />
  </wsdl:message>
  <wsdl:message name="DataBaseAccessService_UpdateNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNumbers" />
  </wsdl:message>
  <wsdl:message name="DataBaseAccessService_UpdateNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="DataBaseAccessService_CountNamesRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:CountNamesRecords" />
  </wsdl:message>
  <wsdl:message name="DataBaseAccessService_CountNamesRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountNamesRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="DataBaseAccessService_CountNumbersRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:CountNumbersRecords" />
  </wsdl:message>
  <wsdl:message name="DataBaseAccessService_CountNumbersRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountNumbersRecordsResponse" />
  </wsdl:message>
  <wsdl:portType name="DataBaseAccessService">
    <wsdl:operation name="LoadNameData">
      <wsdl:input wsaw:Action="NamesService/DataBaseAccessService/LoadNameData" message="tns:DataBaseAccessService_LoadNameData_InputMessage" />
      <wsdl:output wsaw:Action="NamesService/DataBaseAccessService/LoadNameDataResponse" message="tns:DataBaseAccessService_LoadNameData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNames">
      <wsdl:input wsaw:Action="NamesService/DataBaseAccessService/UpdateNames" message="tns:DataBaseAccessService_UpdateNames_InputMessage" />
      <wsdl:output wsaw:Action="NamesService/DataBaseAccessService/UpdateNamesResponse" message="tns:DataBaseAccessService_UpdateNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadNumberData">
      <wsdl:input wsaw:Action="NamesService/DataBaseAccessService/LoadNumberData" message="tns:DataBaseAccessService_LoadNumberData_InputMessage" />
      <wsdl:output wsaw:Action="NamesService/DataBaseAccessService/LoadNumberDataResponse" message="tns:DataBaseAccessService_LoadNumberData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNumbers">
      <wsdl:input wsaw:Action="NamesService/DataBaseAccessService/UpdateNumbers" message="tns:DataBaseAccessService_UpdateNumbers_InputMessage" />
      <wsdl:output wsaw:Action="NamesService/DataBaseAccessService/UpdateNumbersResponse" message="tns:DataBaseAccessService_UpdateNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountNamesRecords">
      <wsdl:input wsaw:Action="NamesService/DataBaseAccessService/CountNamesRecords" message="tns:DataBaseAccessService_CountNamesRecords_InputMessage" />
      <wsdl:output wsaw:Action="NamesService/DataBaseAccessService/CountNamesRecordsResponse" message="tns:DataBaseAccessService_CountNamesRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountNumbersRecords">
      <wsdl:input wsaw:Action="NamesService/DataBaseAccessService/CountNumbersRecords" message="tns:DataBaseAccessService_CountNumbersRecords_InputMessage" />
      <wsdl:output wsaw:Action="NamesService/DataBaseAccessService/CountNumbersRecordsResponse" message="tns:DataBaseAccessService_CountNumbersRecords_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>