Service References/ServiceReference1/DataBaseAccessService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="NamesService" elementFormDefault="qualified" targetNamespace="NamesService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://recorder.apphb.com/DataBaseAccessService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RecordsCollectorApp" />
  <xs:element name="LoadNameData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadNameDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RecordsCollectorApp" minOccurs="0" name="LoadNameDataResult" nillable="true" type="q1:NameClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RecordsCollectorApp" minOccurs="0" name="NameObject" nillable="true" type="q2:NameClass" />
        <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNamesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadNumberData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadNumberDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RecordsCollectorApp" minOccurs="0" name="LoadNumberDataResult" nillable="true" type="q3:NumberClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RecordsCollectorApp" minOccurs="0" name="NumberObject" nillable="true" type="q4:NumberClass" />
        <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNumbersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountNamesRecords">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountNamesRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountNamesRecordsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountNumbersRecords">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountNumbersRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountNumbersRecordsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>